body, html {
  max-width: 100%;
  width: 100%;
}
.navbar-brand{
    margin-left: 10px;
    font-size: 30px;
    font-family: 'Saira', sans-serif;
    font-weight: bold;
}


footer {
    background-color: #333;
    padding: 50px;
    text-align: center;
    margin-top: 200px;
  }
  footer small {
    color: #fff;
  }

.card{
  border-width: 3px;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Menambahkan flex-wrap: wrap agar card terlipat saat mode mobile */
}

.col-sm-3 {
  flex: 0 0 28%;
  max-width: 28%;
  padding: 0 15px;
}

/* Mengubah tampilan pada mode mobile dengan lebar layar kurang dari atau sama dengan 767px */
@media (max-width: 767px) {
  .col-sm-3 {
      flex: 0 0 100%;
      max-width: 90%;
      margin-bottom: 15px;
  }
}


/* cover */
.bg{
 background-color: #1c3a77;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-detail{
  max-width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.tbl{
  max-width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: #333;
}
.ml-auto {
  margin-left: auto !important;
}

.center-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.box-md-5 {
  background-color: #ffffff;
  width: 200px; /* Sesuaikan ukuran kotak di sini */
  height: 200px; /* Sesuaikan ukuran kotak di sini */
  display: flex;
  justify-content: center;
  align-items: center;
}
.size-fa{
  font-size: 150px;
  color: #87CEFA;;
}
.fa-pager{
  font-size: 150px;
  color: #87CEFA;;
}
.table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #dee2e6;
  padding: 8px;
  text-align: left;
}
.p1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
  color: rgb(41, 41, 41);
  font-size: 30px;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 50px;
}